<% content_for :head do %>
  <%= stylesheet_link_tag "views/index" %>
  <%= stylesheet_link_tag "views/index/landing.css" %>
<% end %>
<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xl"> <a class="navbar-brand block" href="index.html">Scale</a>
        <section class="m-b-lg">
            <header class="wrapper text-center"> <strong>Sign in to get in touch</strong> </header>
            <%= form_tag(admin_session_path, method: :put) do %>
                <div class="list-group">
                    <div class="list-group-item">
                        <input type="email" placeholder="Email" class="form-control no-border" name="email"> </div>
                    <div class="list-group-item">
                        <input type="password" placeholder="Password" class="form-control no-border" name="password"> </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
                <div class="text-center m-t m-b"><a href="#"><small>Forgot password?</small></a></div>
                <div class="line line-dashed"></div>
                <p class="text-muted text-center"><small>Do not have an account?</small></p> <a href="/sign_up" class="btn btn-lg btn-default btn-block">Create an account</a>
            <% end %>
        </section>
    </div>
</section>