<div id="modal-add-company" class="modal fade">
  <div class="modal-dialog" style="width:500px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="caption"><strong>Add Licence</strong></div>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-default grey hide" id="update-licence">Update</button>
          <button type="button" class="btn btn-default grey" id="save-licence">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
